<div class="pessoa-box">
    <button>Cadastrar novo pessoa</button>
    <div class="input-box">
        <label >Procurar</label>
        <input type="text" placeholder="Qual registro esta buscando?" (input)="pesquisar($event)">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data Nascimento</th>
            <th>Inativo</th>
            <th></th>            
            <th></th>
            <th></th>            
        </tr>
    </thead>
    <tbody *ngFor="let pessoa of pessoas">
        <tr>
            <td>{{pessoa.Nome}}</td>
            <td>{{pessoa.DataNascimento}}</td>
            <td>
                <div *ngIf="pessoa.Inativo == 1; else inativo">
                    <img src="assets/images/Ativo.png" alt="" style="height: 20px; height: 20px;">
                </div>
                <ng-template #inativo>
                    <img src="assets/images/Inativo.png" alt="" style="height: 20px; height: 20px;">
                </ng-template>
            </td>
            <td><button>Editar</button></td>
            <td><button>Detalhes</button></td>
            <td><button>Excluir</button></td>
        </tr>
    </tbody>
</table>